.set-center{
    display: flex;
    justify-content: center;
}
body{
    font-family: Shabnam, serif;
    direction: rtl;
}
@font-face {
    font-family: Shabnam;
    src: url('/fonts/Shabnam.eot');
    src: url('/fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Shabnam.woff') format('woff'),
    url('/fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Shabnam;
    src: url('/fonts/Shabnam-Bold.eot');
    src: url('/fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Shabnam-Bold.woff') format('woff'),
    url('/fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}
.slideshow {
    /*width: 100vw;*/
    height: 100vh;
    background-size: cover;
    background: url('/Banner/1.jpg') center;
    margin: 0 auto;
    -webkit-animation: slider 20s infinite;
}
@keyframes slider {
    25% {background-image: url('/Banner/2.jpg')}
    50% {background-image: url('/Banner/3.jpg')}
    75% {background-image: url('/Banner/4.jpg')}
    100% {background-image: url('/Banner/1.jpg')}
}
.set-gray {
    color: lightgray;
}
.set-black{
    color:black;
}
.no-click {
    pointer-events: none;
}