.increase-credit-field {
    width: 60%;
    border-radius: 10px;
    background-color: white;
    padding: 6px;
}

.unit-add-credit {
    width: 60%;
    float: left;
}

.row-add-credit {
    margin-top: 30px;
}

.btn-add-credit {
    width: 60%;
    background-color: #2ed0cb;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease-in-out;
}

.current-credit {
    float: right;
    margin-top: 30px;
    font-size: 25px;
    margin-right: 10px;
}

#credit-form {
    height: 66vh;
}