#login-form{
    height: 73vh;
}

.btn-login{
    width: 10%;
    background-color: #2ed0cb;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease-in-out;
}
::-webkit-input-placeholder {
    text-align: center;
}
