
.area{
    margin-top: 7vh;
    height:12vh;
    background: gray url("/geometry2.png") repeat-x;
}

.search-result{
    float:right;
    margin-top: 2vh;
    margin-right: 50px;
    color: #2ed0cb;
    font-size: 30px;
}
