.sub-image {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
}

.sub-image-text {
    color: dimgray;
    font-size: 15px;
}

.sub-image-text-right {
    float: right;
    margin-right: 10px;
    margin-top: 13px;

}

.sub-image-text-right-bottom {
    float: right;
    margin-right: 10px;

}

.sub-image-text-left {
    float: left;
    margin-left: 60px;
    margin-top: 13px;

}

.sub-image-text-left-bottom {
    float: left;
    margin-left: 10px;
}

.button-red {
    color: white;
    background-color: #EA2A53;
    margin : 5px;
}

.button-purple {
    color: white;
    background-color: #510C88;
    margin : 5px;
}

.icon-red {
    color: #EA2A53;
}

.icon-magenta {
    color: #52489C;
}

.my-icon {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 18px !important;
}

.sub-button {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    z-index: 1000;
}

.my-house {
    width: 100%;
    height: 270px;
    border-radius: 7px;
    margin: 20px auto 0;
    position: relative;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.my-image {
    width: 100%;
    height: 60%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
