.my-navbar {
    height: 7vh;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.my-navbar a.house {
    float: right;
    display: block;
    text-align: center;
    margin-right: 17px;
    margin-top: 2vh;
    text-decoration: none;
    font-size: 2vh;
    color:  #2ed0cb;
}
.aks{
     float: right;
     height: 5vh;
     width: 5vh;
     margin-right: 50px;
     margin-top: 1vh;
 }
