.footer-right {
    text-align: right;
    margin-top: 1rem;
}

.footer-left {
    text-align: left;
}

.footer-mine {
    background-color: #185956;
    color: white;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 1.5rem;
}

@media only screen
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

    .footer-right {
        text-align: center;
    }

    .footer-left {
        text-align: center;
    }

    .row-radio {
        text-align: center;
    }

}

.social-logo {
    margin-top: 10px;
    margin-right: 5px;
}

.social-logo > img {
    width: 40px;
}


