.navbar-landing {
    height: 7vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 6vw;
    margin-top: 2vh;
    color: #2ed0cb;
    border: solid;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 12px 16px;
    border-radius: 0px 10px 10px 10px;
    margin-top: 10px;
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.credit {
    float: right;
    color: gray;
}

.currency {
    float: left;
    color: gray;
}

.my-button {
    background-color: #2ed0cb;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease-in-out;
}

.my-button:hover {
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.my-button:active {
    -webkit-box-shadow: 0 10px 80px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 80px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 80px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.4);
}

.drop-button {
    float: right;
    margin-top: 3vw;
    margin-right: 4vw;
    width: 60%;
    border: none;
    font-size: 15px;
}

.myspan {
    float: left;
}
