.search-box {
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    color: white;
}
.search-row{
    padding: 20px;
}
.unit{
    direction: ltr;
}
.unit p{
    width: 100%;
    text-align: left;
    margin: 0;
    padding-left: 5%;
    font-size: .7rem;
}
.house-field{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    padding-right: 10px;
}
.btn-radio{
    margin-right: 20px;
    margin-left: 10px;
}
.btn-search {
    width: 100%;
    border-radius: 10px;
    background-color: #3ad2cc;
    color: white;
    -webkit-box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
}
.btn-search:hover {
    width: 100%;
    background-color: #3ad2cc;
    color: white;
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}