.light-box {
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: -20px 5px 30px;
    padding: 20px;
}

.logo {
    width: 40%;
}

.why-khanebedoosh-li {
    list-style-type: none;
}

.why-khanebedoosh-li h1 {
    font-family: Shabnam-Bold, serif;
}

.why-khanebedoosh {
    padding-top: 1em;
}

.set-purple {
    color: #52489C;
    padding-left: 4px;
}
